<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoair.uav.mapper.SysUavResultMapper">

    <resultMap type="SysUavResult" id="SysUavResultResult">
        <result property="resultId"    column="result_id"    />
        <result property="resultCode"    column="result_code"    />
        <result property="taskId"    column="task_id"    />
        <result property="overview"    column="overview"    />
        <result property="findings"    column="findings"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="taskName"    column="task_name"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="routeName"    column="route_name"    />
        <result property="executor"    column="executor"    />
        <result property="patrolDuration"    column="patrol_duration"    />
        <result property="completedTime"    column="completed_time"    />
        <result property="handlingInfo"    column="handling_info"    />
        <result property="aiImageUrl"    column="ai_image_url"    />
        <result property="routePoints"    column="route_points"    />
        <result property="taskStatus"    column="task_status"    />
    </resultMap>

    <sql id="selectSysUavResultVo">
        select r.result_id, r.result_code, r.task_id, r.overview, r.findings, r.create_by, r.create_time, r.update_by, r.update_time, r.remark,
               r.task_name, r.equipment_name, r.route_name, r.executor, r.patrol_duration, r.completed_time, r.handling_info, r.ai_image_url, r.route_points,
               t.task_status
        from sys_uav_result r
        left join sys_uav_task t on r.task_id = t.task_id
    </sql>

    <select id="selectSysUavResultList" parameterType="SysUavResult" resultMap="SysUavResultResult">
        <include refid="selectSysUavResultVo"/>
        <where>
            <if test="resultCode != null  and resultCode != ''"> and result_code = #{resultCode}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="taskName != null and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="equipmentName != null and equipmentName != ''"> and equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="executor != null and executor != ''"> and executor like concat('%', #{executor}, '%')</if>
            <if test="params.beginCompletedTime != null and params.beginCompletedTime != '' and params.endCompletedTime != null and params.endCompletedTime != ''"> and completed_time between #{params.beginCompletedTime} and #{params.endCompletedTime}</if>
        </where>
        order by result_id desc
    </select>

    <select id="selectSysUavResultByResultId" parameterType="Long" resultMap="SysUavResultResult">
        <include refid="selectSysUavResultVo"/>
        where result_id = #{resultId}
    </select>

    <insert id="insertSysUavResult" parameterType="SysUavResult" useGeneratedKeys="true" keyProperty="resultId">
        insert into sys_uav_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resultCode != null and resultCode != ''">result_code,</if>
            <if test="taskId != null">task_id,</if>
            <if test="overview != null and overview != ''">overview,</if>
            <if test="findings != null">findings,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="taskName != null and taskName != ''">task_name,</if>
            <if test="equipmentName != null and equipmentName != ''">equipment_name,</if>
            <if test="routeName != null and routeName != ''">route_name,</if>
            <if test="executor != null and executor != ''">executor,</if>
            <if test="patrolDuration != null">patrol_duration,</if>
            <if test="completedTime != null">completed_time,</if>
            <if test="handlingInfo != null and handlingInfo != ''">handling_info,</if>
            <if test="aiImageUrl != null and aiImageUrl != ''">ai_image_url,</if>
            <if test="routePoints != null">route_points,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resultCode != null and resultCode != ''">#{resultCode},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="overview != null and overview != ''">#{overview},</if>
            <if test="findings != null">#{findings},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="taskName != null and taskName != ''">#{taskName},</if>
            <if test="equipmentName != null and equipmentName != ''">#{equipmentName},</if>
            <if test="routeName != null and routeName != ''">#{routeName},</if>
            <if test="executor != null and executor != ''">#{executor},</if>
            <if test="patrolDuration != null">#{patrolDuration},</if>
            <if test="completedTime != null">#{completedTime},</if>
            <if test="handlingInfo != null and handlingInfo != ''">#{handlingInfo},</if>
            <if test="aiImageUrl != null and aiImageUrl != ''">#{aiImageUrl},</if>
            <if test="routePoints != null">#{routePoints},</if>
         </trim>
    </insert>

    <update id="updateSysUavResult" parameterType="SysUavResult">
        update sys_uav_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="resultCode != null and resultCode != ''">result_code = #{resultCode},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="overview != null and overview != ''">overview = #{overview},</if>
            <if test="findings != null">findings = #{findings},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="taskName != null and taskName != ''">task_name = #{taskName},</if>
            <if test="equipmentName != null and equipmentName != ''">equipment_name = #{equipmentName},</if>
            <if test="routeName != null and routeName != ''">route_name = #{routeName},</if>
            <if test="executor != null and executor != ''">executor = #{executor},</if>
            <if test="patrolDuration != null">patrol_duration = #{patrolDuration},</if>
            <if test="completedTime != null">completed_time = #{completedTime},</if>
            <if test="handlingInfo != null and handlingInfo != ''">handling_info = #{handlingInfo},</if>
            <if test="aiImageUrl != null and aiImageUrl != ''">ai_image_url = #{aiImageUrl},</if>
            <if test="routePoints != null">route_points = #{routePoints},</if>
        </trim>
        where result_id = #{resultId}
    </update>

    <delete id="deleteSysUavResultByResultId" parameterType="Long">
        delete from sys_uav_result where result_id = #{resultId}
    </delete>

    <delete id="deleteSysUavResultByResultIds" parameterType="String">
        delete from sys_uav_result where result_id in
        <foreach item="resultId" collection="array" open="(" separator="," close=")">
            #{resultId}
        </foreach>
    </delete>

    <delete id="deleteSysUavResultByTaskIds" parameterType="String">
        delete from sys_uav_result where task_id in
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>
